/* Space out content a bit */
body {
    /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.nav > li.active > a {
    text-decoration: none;
    background-color: #eee;
}

.map-container {
    height: calc( 100vh - 101px );
    width: calc(100% + 44px);
    left: -30px;
    position: relative;
}
.angular-leaflet-control-layers {
    position: absolute;
    background: white;
    z-index: 100;
    left: 10px;
    top: 100px;
    width: 200px;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
}

.angular-leaflet-control-layers .lf-row label {
    cursor: pointer;
    width: 75%;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol {
    padding-left: 8px;
}

.angular-leaflet-control-layers .lf-row .lf-icon {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-top: 2px;
}

.angular-leaflet-control-layers .lf-row label .lf-text {
    float: left;
}

.angular-leaflet-control-layers .lf-row .lf-icon-ol-group {
    color: #00650a;
}

.angular-leaflet-control-layers .lf-row .lf-icons {
    float: right;
}
.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

footer {
    display: flex;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    background-color: #2C3E50;
}

footer p {
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
}