<div>
    <div class="row">
        <div class="col-lg-12">
			<h1 class="padding-bottom">{{vm.name}}</h1>
			<button type="button" class="btn btn-primary" ng-click="vm.Thing()" ">Thingful</button>
			<button type="button" class="btn btn-info" ng-click="vm.iot()">IoT</button>
			<button type="button" class="btn btn-warning" ng-click="vm.Tera()">Terra Incognita</button>
			<button type="button" class="btn btn-danger" ng-click="vm.Lumi()">Luminous Flickr</button>
			<button type="button" class="btn btn-success" ng-click="vm.Ping()">Tweetping</button>
			<button type="button" class="btn btn-info" ng-click="vm.writeUs()">Add Link</button>
			<button type="button" class="btn btn-warning" ng-click="vm.ViewLinks()">Other Sites</button>
			<hr/>
        </div>
		
		<div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                        <div  class="panel-heading" ng-bind="vm.sampleTitle"></div>
                        <div ng-show="vm.myinfo">
						<a ng-show="vm.links" href='https://google.com'>  Google - Added by vital@gmail.com - 27/05/2016<br></a>
						<a ng-show="vm.links" href='https://sce.ac.il'>  SCE - Added by ariel@gmail.com - 29/05/2016<br></a>
						<a ng-show="vm.links" href='https://wikipedia.com'>  Wikipedia - Added by shimi@gmail.com - 01/06/2016<br></a>
						<div class="panel-body"
                            <p ng-bind="vm.sampleText"></p>
							
                        </div>
						<div id="txxt" ng-show="vm.txt" class="form-group">
                            <input class="form-control" id="LinkTB" ng-show="vm.txt">
							
                        </div>
						<button ng-show="vm.txt" type="button" ng-click="vm.vital(); vm.sendMail()" class="btn btn-default">Send</button>
						
                    </div>
					<img ng-if="vm.showG" src = "http://cdn.makeagif.com/media/4-13-2016/yZz-vQ.gif"/>
                </div>
            </div>
		
		<leaflet ng-show="vm.showMap" lf-center="vm.center" markers="vm.markers" height="650" width="100%">
                    
    </leaflet>
	<iframe ng-if="vm.ShowL"id="ig_iframe" style="background-color: #FFF" src="http://www.tracemedia.co.uk/projects/luminous/flickr/#date_from=2005-01-01&amp;date_to=2013-06-30&amp;map=id&amp;place=istanbul_01" width="100%" height="650" frameborder="0" style="border:0"></iframe>
	<iframe ng-if="vm.showT" width="100%" height="650" src="http://thingful.net/site/embed?lat=20.05593126519445&lng=25.6640625&z=3" frameborder="0" style="border:0"></iframe>
	<iframe ng-if="vm.ShowI" width="100%" height="650" src="https://www.google.com/maps/d/embed?mid=zXWGoEiVyb4o.kIbOou1uPuFQ&hl=en" frameborder="0" style="border:0"></iframe>
	<iframe ng-if="vm.ShowTT" width="100%" height="650" id="ig_iframe" ig-center= "0,0" style="background-color: #FFF" src="http://www.tracemedia.co.uk/projects/terra/map/#type=kg&amp;proj=laea&amp;lang=ru&amp;map=revisions&amp;loc=1" frameborder="0" style="border:0"></iframe>
    <iframe ng-if="vm.ShowTTT" id="ig_iframe" style="background-color: #FFF" src="http://tweetping.net/#" width="100%" height="650" frameborder="0" style="border:0"></iframe>
	</div>
</div>