<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{feature.title}}</h3>
    </div>
    <div class="modal-body">
        <code>{{feature | json}}</code>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<div>
    <div class="row">
        <div class="col-lg-12">
            <legend class="page-header">Online Maps - earthquake records from <a href="http://earthquake.usgs.gov/">usgs.gov</a>
            </legend>
            <label>Total {{vm.totalNumber}} records</label>
            <uib-datepicker ng-model="dt" class="well well-sm"
                            datepicker-options="vm.inlineOptions"
                            ng-change="vm.getDataFromDate(dt)"></uib-datepicker>
            <div class="container-fluid" style="height: 500px;">
                <leaflet height="100%" width="100%" markers="vm.markers" paths="vm.paths" geojson="vm.geojson">
                </leaflet>
            </div>
        </div>
    </div>
</div>