<!doctype html> 
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	</head>
	<body>
		<!-- MapBox map -->
		<div class="row">
			<div id="mapid" class="well" style="width: 600px; height: 400px"></div>
		</div>
        
		<div ng-app="appDispLayer" ng-controller="WMSServersController as sc" class="row">
            		<!-- Tab labels-->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#server"  aria-controls="server" role="tab" data-toggle="tab">WMS Server</a>
				</li>
		                <li role="presentation" >
		                    <a href="#layer" aria-controls="layer" role="tab" data-toggle="tab" >Layers</a>
        		       </li>
	               </ul>
                       <!-- Tab panes -->
			<div class="tab-content">
                		<div role="tabpanel" class="tab-pane active" id="server">
		                <p> Please choose WMS Server</p>
                	        <select ng-model="sc.model.selectedServer" ng-options="srv.title for srv in sc.servers" ng-change="sc.serverUpdate()">
                                </select>
                       </div>
        	       <div role="tabpanel" class="tab-pane" id="layer" >
                            <p> Please choose a layer </p>
                            <select ng-model="selectedLayer" ng-options="layer.title for layer in layers" ng-change="sc.loadWMSLayer()">
                            </select>
                            <button class="btn btn-default" type="submit" onclick="toggleOverlay()"> Load WMS layer </button>
                            <p>Selected server: {{selectedServer.title}}</p>
		      </div>
		      </div>
        </div>


		<div class="row">
			<div class="alert alert-info" role="alert">
			Enter WMS URL
			</div>	
			<input type="text" id="wmsSrvUrl"> 
			<button class="btn btn-default" type="submit" onclick="getCap()"> Probe WMS server </button>
		        <div id="wmsresponse">
				<figure class="highlight">
					<pre>
						<code class="language-xml" data-lang="xml">
						</code>
					</pre>
				</figure>
			</div>
		</div>
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<script src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>        
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="mapTubeCtrl.js"></script>
		<script src="wms-module.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
