<div ng-controller="MapTubeCtrl as maptube">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group" ng-repeat="category in maptube.categories">
                <li class="list-group-item">
                    <p>{{category.title}}</p>
                    <ul class="list-group" ng-repeat="subcat in category.subcats">
                        <li class="list-group-item">
                            <p>{{subcat.title}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
