<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" title="GIS services">
            <span><img style="max-width:110px; margin-top: -5px;" src="assets/img/logo_SCE.png"></span>
            GIS services</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li ng-class="headerCtrl.proposedLanguage() === 'he' ? 'active' : ''">
                    <a ng-click="headerCtrl.switchLang('he')" href=""><i class="fa fa-flag fa-fw"></i> Hebrew</a>
                </li>
                <li ng-class="headerCtrl.proposedLanguage() === 'en' ? 'active' : ''">
                    <a ng-click="headerCtrl.switchLang('en')" href=""><i class="fa fa-flag fa-fw"></i> English</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- /.navbar-header -->
    <header-notification></header-notification>
    <sidebar></sidebar>
</nav>
